@{
    Layout = "~/Areas/Admin/Features/Shared/SignIn.cshtml";
}
@model Appva.Mcss.AuthorizationServer.Models.LoginRequest
@using (Html.Post(new { @class = "form-signin" }))
{
    @Html.ValidationAlert("Login failed", "Invalid username or password")
    <div class="form-group w-icon">
        @Html.TextBoxFor(x => x.UserName,  new { @class = "form-control", @placeholder = "Enter your username here" })
        <span class="fa fa-user signin-form-icon"></span>
    </div>
    <div class="form-group w-icon">
        @Html.PasswordFor(x => x.Password, new { @class = "form-control", @placeholder = "Enter your password here" })
        <span class="fa fa-lock signin-form-icon"></span>
    </div>
    <div class="form-actions">
        @Html.Submit("Sign in", new { @class = "btn btn-lg signin-btn btn-primary btn-block" })
        <a href="#" class="forgot-password" id="forgot-password-link">Forgot your password?</a>
    </div>
}
