@model Appva.Mcss.Admin.Models.DeleteMeasurementModel

<div class="section section--hspace">
    <h2>Lägg till observation</h2>
    <div id="add-observation">

        @using (Html.BeginForm("delete", "measurement", new { MeasurementId = Model.MeasurementId }, FormMethod.Post, new { @class = "validate", novalidate = "novalidate" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary()
            <div class="width-limiter width-limiter--s">
                <div class="form-controls">
                    <h2>Är ni helt säker?</h2>
                </div>
                
                <div class="form-controls form-controls--align-end form-controls--no-margin">
                    <button type="reset" class="button button--secondary" data-dialog-close="true">Avbryt</button>
                    @Html.Submit("Spara", new { @class = "button button--primary" })
                </div>
            </div>
        }

    </div>
</div>
