/* =============================================================================
 * Links
============================================================================= */
a {
	color:#00c;
}
a:visited {
	color:#767676;
}
a:hover,
a:focus {
	outline:none;
	color:#000;
}