/* =============================================================================
 * Lists
============================================================================= */
ul,
ol {
	margin-bottom:24px;
	margin-bottom:var(--l-space);
}
.list--unstyled {
	margin:0;
	padding:0;
	list-style:none;
}

/* Description list
-------------------------------------------------------------- */
dt {
	font-weight:bold;
}