/* =============================================================================
 * Sub navigation
 * postcss-bem-linter: define sub-nav
============================================================================= */
.sub-nav ul {
	margin-bottom:0;
	padding-left:0;
	list-style-type:none;
}
.sub-nav a,
.sub-nav a:visited {
	display:block;
	margin-bottom:calc(24px / 4);
	margin-bottom:calc(var(--l-space) / 4);
	padding:calc(24px / 4) calc(24px / 2);
	padding:calc(var(--l-space) / 4) calc(var(--l-space) / 2);
	color:#000;
	line-height:1.2;
	text-decoration:none;
}
.sub-nav a:hover,
.sub-nav a:focus {
	background:#efefef;
	background:var(--c-light-grey);
}
.sub-nav > ul ul {
	padding-left:calc(24px / 2);
	padding-left:calc(var(--l-space) / 2);
}
.sub-nav__item--selected a,
.sub-nav__item--selected a:visited {
	background:#68ad57;
	background:var(--c-standard-green);
	color:#fff;
}
.sub-nav__item--selected a:hover {
	background:#589f49;
	background:var(--c-standard-green-sel);
}