<!DOCTYPE html>
<!--[if IE 8]><html class="ie8"> <![endif]-->
<!--[if IE 9]><html class="ie9 gt-ie8"> <![endif]-->
<!--[if gt IE 9]><!-->
<html class="gt-ie8 gt-ie9 not-ie">
<!--<![endif]-->
    <head>
        @Html.Partial("Meta")
        <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/css/Content.css")">
        <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/css/SignIn.css")">
    </head>
    <body>
        <div class="signin-container">
            <div class="signin-info">
                <a href="index.html" class="logo">
                    <img src="assets/demo/logo-big.png" alt="" style="margin-top: -5px;">&nbsp;
                    OAuth Server
                </a>
                <div class="slogan">
                    Easy access :D
                </div>
            </div>
            <div class="signin-form">
                @RenderBody()
                <div class="signin-with">
                    <a href="index.html" class="signin-with-btn" style="background:#4f6faa;background:rgba(79, 111, 170, .8);">Sign In with <span>Facebook</span></a>
                </div>
            </div>
        </div>
    </body>
</html>
