@model Appva.Mcss.Admin.Areas.Backoffice.Models.AddArticleCategoryModel
@{
    SetTitle("Ny kategori");
}
<div class="std-panel std-form lb-panel-small lb-validate-form">
    @using (Html.Post())
    {
        <div id="pr-panel">
            <h3 class="section-title">Ny kategori</h3>
            @Html.FormGroup(x => x.Name, "text").Label("Namn").TextBox().Validate().Build()
            @Html.FormGroup(x => x.Description, "text large").Label("Beskrivning").TextArea().Validate().Build()
        </div>
        <div class="submit">
            @Html.Submit("Spara", new { @class = "btn" })
            @Html.Cancel("Avbryt")
        </div>
    }
</div>