@{
    Layout = "~/Features/Shared/_ErrorLayout.cshtml";
    Title("404 Not Found");
    BodyCssClass("page-404");
}
<div class="error-code">404</div>
<div class="error-text">
    <span class="oops">Hoppsan!</span><br>
    <span class="hr"></span>
    <br>
    Denna sida finns tyv&auml;rr inte.
</div>