<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Appva.Caching" version="0.3.0" targetFramework="net45" />
  <package id="Appva.Common" version="0.3.0" targetFramework="net45" />
  <package id="Appva.Core" version="0.5.0" targetFramework="net45" />
  <package id="Appva.Core.Messaging" version="0.0.4" targetFramework="net45" />
  <package id="Appva.Cqrs" version="0.3.0" targetFramework="net45" />
  <package id="Appva.Cryptography" version="0.3.0" targetFramework="net45" />
  <package id="Appva.Mvc" version="0.5.9" targetFramework="net45" />
  <package id="Appva.Persistence" version="0.3.0" targetFramework="net45" />
  <package id="Appva.Repository" version="0.3.0" targetFramework="net45" />
  <package id="Appva.Tenant" version="0.4.0" targetFramework="net45" />
  <package id="Autofac" version="3.5.2" targetFramework="net45" />
  <package id="BouncyCastle" version="1.7.0" targetFramework="net45" />
  <package id="Iesi.Collections" version="4.0.1.4000" targetFramework="net45" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.Razor" version="3.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.3" targetFramework="net45" />
  <package id="Microsoft.Owin" version="3.0.1" targetFramework="net45" />
  <package id="Microsoft.Owin.Host.SystemWeb" version="3.0.1" targetFramework="net45" />
  <package id="Microsoft.Owin.Security" version="3.0.1" targetFramework="net45" />
  <package id="Microsoft.Owin.Security.Jwt" version="3.0.1" targetFramework="net45" />
  <package id="Microsoft.Owin.Security.OAuth" version="3.0.1" targetFramework="net45" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net45" />
  <package id="Moq" version="4.2.1510.2205" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net45" />
  <package id="NHibernate" version="4.0.4.4000" targetFramework="net45" />
  <package id="Owin" version="1.0" targetFramework="net45" />
  <package id="RazorEngine" version="3.7.7" targetFramework="net45" />
  <package id="System.IdentityModel.Tokens.Jwt" version="4.0.2.206221351" targetFramework="net45" />
  <package id="Validation" version="2.2.8" targetFramework="net45" />
  <package id="xunit" version="2.0.0" targetFramework="net45" />
  <package id="xunit.abstractions" version="2.0.0" targetFramework="net45" />
  <package id="xunit.assert" version="2.0.0" targetFramework="net45" />
  <package id="xunit.core" version="2.0.0" targetFramework="net45" />
  <package id="xunit.extensibility.core" version="2.0.0" targetFramework="net45" />
  <package id="xunit.extensions" version="2.0.0" targetFramework="net45" />
  <package id="xunit.runner.visualstudio" version="2.3.1" targetFramework="net45" developmentDependency="true" />
</packages>