<div class="people-nav">
    <ul class="nav cf">
        <li>@Html.ActionLink("Delegering", "List", "Delegation")</li>
        <li>@Html.ActionLink("Listor", "List", "Schedule")</li>
    </ul>
</div>
