@{
    Layout = "~/Features/Shared/Errors.cshtml";
    SetTitle("404 Not Found");
    BodyCssClass("page-404");
}
<div class="error-code">404</div>
<div class="error-text">
    <span class="oops">OOPS!</span><br>
    <span class="hr"></span>
    <br>
    SOMETHING WENT WRONG, OR THAT PAGE DOESN'T EXIST... YET
</div>
