{
  "ConnectionString": "Server=localhost;Database=Monitoring;Trusted_Connection=False;User ID=McssTest;Password=foo1!BAR",
  "Assembly": "Appva.Mcss.Monitoring.Domain, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null",
  "Properties": {
    "cache.use_query_cache": "false",
    "cache.use_second_level_cache" : "false",
    "generate_statistics" : "true"
  }
}