{
  "ConnectionString": "Server=localhost;Database=GoldFinger;Trusted_Connection=False;User ID=JamesBond;Password=007",
  "Assembly": "Appva.Mcss.Domain, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null",
  "Properties": {
    "cache.use_query_cache": "false",
    "cache.use_second_level_cache" : "false",
    "generate_statistics" : "false"
  }
}