@model Appva.Mcss.Admin.Models.ListTenaModel
@{
    Layout = null;
}
<script>


    $(document).ready(function () {
        $("#ExternalId").on("input", function () {
            $('.button--secondary').prop('disabled', false);
            if (this.value.length == 8) {
                var externalId = this.value;
                $.ajax({
                    url: '@Url.Action("activate","tena")',
                    type: 'GET',
                    data: { 'ExternalId': externalId },
                    success: function (result) {
                        var message = JSON.parse(result);
                        if (message[1] == "OK") {
                            $(".tena-response-facility").html(JSON.parse(message[0]).facilityName);
                            $(".tena-response-room").html(JSON.parse(message[0]).roomNumber);
                            $("#target>div").show();
                            $(".button--secondary").prop("disabled", false).click(function (e) {
                                e.preventDefault();
                                $("#ExternalId").val("");
                            });
                            $(".button--primary").prop("disabled", false);

                        } else if (message[1] == "NotFound") {
                            onsole.log("Användaren existerar inte. Felkod: 404.");
                        } else if (message[1] == "Unauthorized") {
                            console.log("Tjänsten är ej korrekt installerad. Felkod: 401.");
                        } else {
                            console.log("Något gick fel. Om felet kvarstår kontakta support. Felkod: 500.");
                        }
                    }
                });

            } else {
                $(".button--primary").prop("disabled", true);
                $(".button--secondary").prop("disabled", true);
            }
        });
    });

    function log(data) {
        console.log(data);
    }



    @*$(document).ready(function () {
        $("#ExternalId").on("input", function () {
            if (this.value.length == 8) {
                var externalId = this.value;
                $.ajax({
                    url: '@Url.Action("activate", "tena")',
                    type: 'GET',
                    data: { "ExternalId": externalId },
                    success: function (result) {
                        var message = JSON.parse(result);
                        console.log(message);

                        if (message[1] == "OK") {
                            console.log("OK");
                            $(".tena-response-facility").html(JSON.parse(message[0]).facilityName);
                            $(".tena-response-room").html(JSON.parse(message[0]).roomNumber);
                            $("#target>div").show();

                            $(".button--secondary").prop("disabled", false).click(function (e) {
                                e.preventDefault();
                                $("#ExternalId").val("");
                                console.log($("#ExternalId").val());
                            }
                                }



    //                        $(".button--primary").prop("disabled", false).click(function (e) {
    //                            console.log(JSON.parse(message[0]).externalId);
    //                        });
    //                    } else if (message[1] == "NotFound") {
    //                        console.log("Användaren existerar inte. Felkod: 404.");
    //                    } else if (message[1] == "Unauthorized") {
    //                        console.log("Tjänsten är ej korrekt installerad. Felkod: 401.");
    //                    } else {
    //                        console.log("Något gick fel. Om felet kvarstår kontakta support. Felkod: 500.");
    //                    }
    //            });
    //        } else {
    //            $(".button--primary").prop("disabled", true);
    //            $(".button--secondary").prop("disabled", true);
    //        }
    //    });
    //});*@

</script>
<div class="main" id="main" role="main">
    <div class="section section--hspace section--vspace section--lightblue">
        <h2 style="text-align:center;">Börja använda TENA Identifi</h2>
        <div class="section section--hspace section--vspace section--white width-limiter width-limiter--xs">
        @using (Html.BeginForm("activate", "tena", FormMethod.Post, new { @class = "validate" }))
        {
            <p>För att kunna använda TENA Identifi tillsammans med MCSS måste du först ange den boendes motsvarande ID i Identifi här.</p>

            <div class="text-align--center">
                <p>
                    <svg class="icon icon--round icon--info" aria-hidden="true">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/Assets/images/icons/icon.sprite.svg#questionmark-icon"></use>
                    </svg>
                    <a href="#" class="read-more-link">Var du hittar TENA Identifi ID</a>
                </p>
                <div class="form-controls inliner inliner--align-center">
                    @Html.LabelFor(x => x.ExternalId, "Identifi ID")
                    <span class="required-indicator" style="padding:0 10px 0 5px">*</span>
                    @Html.TextBoxFor(x => x.ExternalId, new { size = "8", required = "required" })
                </div>
                <div id="target">
                    <div id="tena-response" class="section section--narrow section--blue section--bubble section--hspace section--vspace inliner" style="display:none;padding-bottom:20px;">
                        <dl style="text-align:left; width:100px; margin-right:30px;">
                            <dt>Plats:</dt>
                            <dd class="tena-response-facility"></dd>
                        </dl>
                        <dl style="text-align:left; width:100px;">
                            <dt>Rum:</dt>
                            <dd class="tena-response-room"></dd>
                        </dl>
                    </div>
                    <div class="form-controls form-controls--align-end">
                        <button class="activate-undo button button--secondary" disabled>Ångra</button>
                        <button class="activate-tena button button--primary" disabled>Aktivera</button>
                    </div>
                </div>
            </div>
        }
        </div>
    </div>
</div>