@using Appva.Mcss.Admin.Application.Common
@model Appva.Mcss.Admin.Models.ListTenaModel
@{
    Layout = null;
}
<script>
        $(document).ready(function () {
            $('.test123').click(function (e) {
                e.preventDefault();
                $.ajax({
                    type: 'POST', url: '@Url.Action("activate", "tena")',
                    success: function (result) {
                        $("#target").append(result);
                        console.log(result);
                    }
                });
            });
        });
</script>
<div class="main" id="main" role="main">
    <div class="section section--hspace section--vspace section--lightblue">
        <h2 style="text-align:center;">Börja använda TENA Identifi</h2>
        <div class="section section--hspace section--vspace section--white width-limiter width-limiter--xs">
            <!-- <form action="/pages/tena-identifi/patient-tena-measurements-list.html" data-update-section="/pages/tena-identifi/patient-tena-register-response.html#target" class="validate"> -->
                @using (Html.BeginForm("activate", "tena", FormMethod.Post, new { @class="validate"}))
                {
                    <p>För att kunna använda TENA Identifi tillsammans med MCSS måste du först ange den boendes motsvarande ID i Identifi här.</p>

                    <div class="text-align--center">
                        <p>
                            <svg class="icon icon--round icon--info" aria-hidden="true">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/Assets/images/icons/icon.sprite.svg#questionmark-icon"></use>
                            </svg>
                            <a href="#" class="read-more-link">Var du hittar TENA Identifi ID</a>
                        </p>

                        <div class="form-controls inliner inliner--align-center">
                            @Html.LabelFor(x => x.ExternalId, "Identifi ID")<span class="required-indicator">&nbsp;*&nbsp;</span>
                            @Html.TextBoxFor(x => x.ExternalId, new { placeholder = "", size = "8" })
                        </div>

                        <div id="target">

                            <div class="form-controls form-controls--align-end">
                                <button class="button button--secondary" disabled>Ångra</button>
                                <button class="button button--primary" type="submit">Aktivera</button>
                            </div>
                        </div>
                    </div>
                }

            <!--</form> -->

        </div>
    </div>
</div>
