@using Appva.Mcss.Admin.Application.Common
@model Appva.Mcss.Admin.Models.ListTenaModel
@{
    Layout = null;
}
<script>
    $(document).ready(function () {
        $("#ExternalId").on("input", function () {
            if (this.value.length == 8) {
                $.ajax({
                    type: 'POST', url: '@Url.Action("activate", "tena")',
                    success: function (result) {
                        $("#target>div").show();
                        $(".tena-response-facility").html((JSON.parse(result)).facilityName);
                        $(".tena-response-room").html((JSON.parse(result)).roomNumber);
                    }
                });
            }
        });
        $('.activate-tena').click(function (e) {
            e.preventDefault();
        });
    });
</script>
<div class="main" id="main" role="main">
    <div class="section section--hspace section--vspace section--lightblue">
        <h2 style="text-align:center;">Börja använda TENA Identifi</h2>
        <div class="section section--hspace section--vspace section--white width-limiter width-limiter--xs">
        @using (Html.BeginForm("activate", "tena", FormMethod.Post, new { @class = "validate" }))
        {
            <p>För att kunna använda TENA Identifi tillsammans med MCSS måste du först ange den boendes motsvarande ID i Identifi här.</p>

            <div class="text-align--center">
                <p>
                    <svg class="icon icon--round icon--info" aria-hidden="true">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/Assets/images/icons/icon.sprite.svg#questionmark-icon"></use>
                    </svg>
                    <a href="#" class="read-more-link">Var du hittar TENA Identifi ID</a>
                </p>
                <div class="form-controls inliner inliner--align-center">
                    @Html.LabelFor(x => x.ExternalId, "Identifi ID")
                    <span class="required-indicator" style="padding:0 10px 0 5px">*</span>
                    @Html.TextBoxFor(x => x.ExternalId, new { size = "8", required = "required" })
                </div>
                <div id="target">
                    <div class="section section--narrow section--blue section--bubble section--hspace section--vspace inliner" style="display:none;padding-bottom:20px;">
                        <dl style="text-align:left; width:100px; margin-right:30px;">
                            <dt>Plats:</dt>
                            <dd class="tena-response-facility"></dd>
                        </dl>
                        <dl style="text-align:left; width:100px;">
                            <dt>Rum:</dt>
                            <dd class="tena-response-room"></dd>
                        </dl>
                    </div>
                    <div class="form-controls form-controls--align-end">
                        <button class="activate-undo button button--secondary" disabled>Ångra</button>
                        <button class="activate-tena button button--primary">Aktivera</button>
                    </div>
                </div>
            </div>
        }
        </div>
    </div>
</div>