@model Appva.Mcss.Admin.Areas.Backoffice.Models.ListSignatureModel
@{
    SetTitle("Backoffice - Signaturer");
}
@Html.Partial("_BackofficeMenuPartial")

<div class="h cf">
<table>
    <tr class="head">
        <th>Namn</th>
        <th>Beskrivning</th>
    </tr>
@foreach (var item in Model.Options)
{
    <tr>
        <td>@item.Name</td>
        <td><img src="@String.Format("/Assets/i/{0}", item.Path)" /></td>
    </tr>
}

</table>
</div>

