@model IList<Appva.Mcss.Web.ViewModels.TaxonViewModel>
@using (Html.BeginForm("TaxonFilter", "Taxa", FormMethod.Post, new { id = "global-filter" }))
{
    if (Model != null)
    {
        for (var i = 0; i < Model.Count; i++)
        {
            if (Model[i].Taxons != null && Model[i].Taxons.Count > 0)
            {
            <div class="@((i == 0) ? "first" : "") select">
                @Html.DropDownList(Model[i].Id, new SelectList(Model[i].Taxons, "Value", "Text", Model[i].Selected), "Välj ...", new { @class = "global-dropdown", @id = "GLOBAL_FILTER_" + Model[i].Id })
            </div>
            }
        }
    }
    <div class="submit">
        @Html.Hidden("global-filter", true)
        @Html.Submit("Visa")
    </div>   
}
<script type="text/javascript">
    $(function() {
        $('#global-filter h2').click(function(e) {
            e.preventDefault();
            $('.select').unbind("change").remove();
            $(this).parent().submit();
        });
    });
</script>