@model Appva.Mcss.Admin.Areas.Backoffice.Models.ListMeasurementsModel
@{
    SetTitle("Backoffice - Mätvärden");
}
@Html.Partial("_BackofficeMenuPartial")

<div id="subheader" class="cf">
    <h1>Mätvärden</h1>
    @Html.ActionLink("Lägg till mätvärde", "Create", "Measurement", new { area = "Backoffice" }, new { @class = "lb-link btn" })
</div>
<div id="content" class="cf">
    <div id="content-primary">
        <div id="signlist">
            <p>
                @foreach (var name in Model.Names)
                {
                    <p>
                        @name
                    </p>                        
                }
            </p>
        </div>
    </div>
</div>