@model Appva.Mcss.Admin.Areas.Backoffice.Models.AddReasonModel
@{ 
    SetTitle("Ny orsak");
}
<div id="pr-panel" class="std-panel std-form lb-panel-small lb-validate-form">
    @using (Html.Post())
    {
        <h3 class="section-title">Ny orsak</h3>
        @Html.FormGroup(x => x.Name, "text large").Label("Namn").TextBox().Validate().Build()
        <div class="submit">
            @Html.Submit("Spara")
	    </div>
    }
</div>