

    <div class="std-panel std-form lb-panel-small lb-panel" style="top: 100px;">
        <a class="btn-close" href="#">Stäng</a>
        <div class="text">
            <p style="text-align:center;"><img src="/media/jul.png" /></p>
            <h3 style="color: rgb(160, 35, 43)">Tack för ett fantastiskt 2017!</h3>
            <p>Ni är nu över 30 000 användare som tillsammans driver på oss att förbättra och utveckla MCSS i en ambition om en bra och modern arbetsmiljö inom svensk omsorg.</p>
            <p style="font-size:22px; font-style:italic; color: rgb(160, 35, 43);font-family: arial, sans-serif; font-style:italic;">En riktigt God Jul och ett Gott Nytt År önskar vi på Appva!</p>

        </div>


    </div>


<script type="text/javascript">
    $(document).ready(function () {
        $('.lb-panel .btn-close').click(function (e) {
            mcss.lightbox.closeAll();
            e.preventDefault();
            e.stopPropagation();
        });
    });
</script>