<div class="std-panel std-form lb-panel-small lb-panel">
    <a class="btn-close" href="#">Stäng</a>
    
    <div class="text">
        <h3>Nyheter - Saldo</h3>
        
        <p>Saldo-hanteringen har nu uppdaterats med nya funktioner.</p>
        <h6>De nya funktionerna innebär att man kan</h6>
        <ul style="list-style:circle;margin-left:10px;">
            <li style="margin-bottom:5px;">Skapa saldon som inte är kopplade till en insats</li>
            <li style="margin-bottom:5px;">Ta bort saldon</li>
            <li style="margin-bottom:5px;">Ange enhet på ett saldo</li>
            <li style="margin-bottom:5px;">Koppla flera insatser till samma saldo</li>
        </ul>
        <br />
        <p>Tveka inte att höra av dig till oss på <a href="mailto:support@appva.se">support@appva.se</a> för mer information</p>
    </div>
</div>