<div class="std-panel std-form lb-panel-small lb-panel">
    <a class="btn-close" href="#">Stäng</a>
    
    <div class="text">
        <h3>Nyheter - PDF</h3>
        <img style="display:inline;float:right;margin-left:10px;width:40%;" src="~/media/icn-pdf.png" />
        <p>Nu har vi förenklat och förbättrat utskrift av signeringslistor genom att införa pdf-format.</p>
        <p>Utöver bättre utskrifter innebär detta att ni enkelt kan ladda upp signeringslistor som pdf i e-arkiv och verksamhetssystem.</p>
        
        <p>För mer information kontakta <a href="mailto:support@appva.se">support@appva.se</a></p>
    </div>
</div>