<div class="std-panel std-form lb-panel-small lb-panel">
    <a class="btn-close" href="#">Stäng</a>

    <div class="text">
        <h3>Saldo byter namn</h3>
        <img style="display:inline;float:right;margin-left:10px;margin-top:-30px;width:30%;vertical-align:middle;" src="~/media/forbrukningsjournal.png" />
        <p>Nu byter vi namn på fliken Saldon. Nytt namn är Förbrukningsjournal.</p>
        <p>Kontakta <a href="mailto:support@appva.se">support@appva.se</a> vid frågor.</p>
    </div>
</div>