<div class="std-panel std-form lb-panel-small lb-panel">
    <a class="btn-close" href="#">Stäng</a>
    
    <div class="text">
        <h3>Appvas användarträff</h3>
        <p>Du har väl inte missat att anmäla dig till vår användarträff den 22 mars 2017 i Örebro?</p>
        <p>Under 2017 kommer vi att erbjuda en hel del spännande nyheter som våra användare efterlyst och lansering sker på användarträffen.</p>
        <p>Välkommen!</p>
        <p><a href="mailto:info@appva.se">Anmäl dig eller skicka oss ett mejl för mer information</a></p>
    </div>
</div>