<div class="std-panel std-form lb-panel-small lb-panel">
    <a class="btn-close" href="#">Stäng</a>
    
    <div class="text">
        <h3>MCSS uppdateringar</h3>
        
        <p><img style="display:inline;float:right;margin-left:10px;width:40%;" src="~/media/logout.png" /> MCSS har uppdaterats till en ny version. I den nya versionen har knapparna för att logga ut och byta lösenord flyttats in under namnet högst upp till höger i menyn. För att få fram knapparna behöver du endast hålla musen över ditt namn så visas menyn.</p>
        <h6>Övriga nyheter:</h6>
        <ul style="list-style:circle;margin-left:10px;">
            <li style="margin-bottom:5px;">Det går nu att skriva notiser även till kontrollräking och insättning av saldo</li>
            <li style="margin-bottom:5px;">Möjlighet att redigera HSA-id för medarbetare</li>
            <li style="margin-bottom:5px;">Hjälp-knapp i menyn för att snabbt komma till hjälpsidor för MCSS</li>
        </ul>
        <br />
        <p>Undrar du över något specifikt tveka inte att höra av dig till oss på <a href="mailto:support@appva.se">support@appva.se</a></p>
    </div>
</div>