@{
    SetBodyCssClass("page-sign-out");
    Layout = "~/Features/Shared/_LoginLayout.cshtml";
    SetTitle("Utloggad");
}

<div class="hd org">
    @Html.Partial("_LoginHeaderLogo")
</div>
<div class="row">
    <div class="col bd">
        <img class="logout" src="@Url.Content("~/Assets/i/check-icon.png")" alt="Appva MCSS" />
        <h1>Du är nu utloggad</h1>
        <div class="controls">
            @Html.ActionLink("Logga in på nytt", "SignIn", "Authentication", null, new { @class = "btn green full" })
        </div>
    </div>
</div>
