<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <mcss environment="Production" xdt:Transform="Replace" />
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
  <system.webServer xdt:Transform="Replace">
    <modules>
      <remove name="FormsAuthentication" />
    </modules>
    <httpErrors errorMode="DetailedLocalOnly" existingResponse="Replace">
      <remove statusCode="400" />
      <error statusCode="400" path="/Assets/error-pages/400.html" responseMode="ExecuteURL" />
      <remove statusCode="403" />
      <error statusCode="403" path="/Assets/error-pages/403.html" responseMode="ExecuteURL" />
      <remove statusCode="404" />
      <error statusCode="404" path="/Assets/error-pages/404.html" responseMode="ExecuteURL" />
      <remove statusCode="409" />
      <error statusCode="409" path="/Assets/error-pages/409.html" responseMode="ExecuteURL" />
      <remove statusCode="412" />
      <error statusCode="412" path="/Assets/error-pages/412.html" responseMode="ExecuteURL" />
    </httpErrors>
  </system.webServer>
  <log4net>
    <root xdt:Transform="Replace">
      <level value="WARN" />
      <appender-ref ref="RollingFileAppender" />
      <appender-ref ref="EventLogAppender" />
    </root>
  </log4net>
  <system.serviceModel>
    <client>
      <endpoint address="http://localhost:83/Service.svc" xdt:Transform="SetAttributes" />
    </client>
  </system.serviceModel>
  <system.net xdt:Transform="Insert">
    <mailSettings>
      <smtp configSource="../../Config/Smtp/MailSettings.config" />
    </mailSettings>
  </system.net>
</configuration>