<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <mcss environment="Production" xdt:Transform="Replace" />
  <siths serverAddress="https://loginserver1.authify.com/"
         key="bb64942bf0538cce274c032e4728a8e4"
         secret="3065e848c12a95083ffd86b7c7df946f"
         redirectUrl="https://appvamcss.com/auth/sign-in/external/siths/token/"
         resellerId="none" xdt:Transform="Replace" />
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
  <system.webServer>
    <httpErrors errorMode="DetailedLocalOnly" xdt:Transform="SetAttributes" />
  </system.webServer>
  <log4net>
    <root xdt:Transform="Replace">
      <level value="WARN" />
      <appender-ref ref="RollingFileAppender" />
      <appender-ref ref="EventLogAppender" />
    </root>
  </log4net>
  <system.serviceModel>
    <client>
      <endpoint address="http://localhost:83/Service.svc" xdt:Transform="SetAttributes" />
    </client>
  </system.serviceModel>
  <system.net xdt:Transform="Insert">
    <mailSettings>
      <smtp deliveryMethod="Network" from="noreply@appva.se">
        <network host="smtp.appva.se" userName="noreply@appva.se" password="qKpWAs" port="25" />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>