@model Appva.Mcss.Admin.Areas.Area51.Models.FindUser
@{
	SetTitle("Area 51 - LDAP");
}
@Html.Partial("_Area51MenuPartial")
<div id="subheader" class="cf">
	<h1>LDAP</h1>
	@Html.ActionLink("Konfiguration", "Config", "Ldap", new { area = "Area51" }, new { @class = "lb-link btn" })
</div>
<div id="content" class="cf">
	<div id="content-primary">
		@using (Html.Post("FindUser", "Ldap", null))
        {
            @Html.FormGroup(m => m.UniqueIdentifier).TextBox().Build()
            @Html.Submit("Sök", new { @class = "btn" })
        }
	</div>
</div>