@{
    Layout = "~/Features/Shared/_ErrorLayout.cshtml";
    Title("404 No Identifier Found");
    BodyCssClass("page-404");
}
<div class="error-code">404</div>
<div class="error-text">
    <span class="oops">Felaktig identifierare!</span><br>
    <span class="hr"></span>
    <br>
    Det saknas information g&auml;llande kundunik identifierare.
</div>