@model Appva.Mcss.Web.ViewModels.DelegationInactivateViewModel
@{
    SetTitle("Inactivate");
}
<div class="std-panel lb-panel-small">
    @using (Html.BeginForm(new { Id = Model.Delegation.Id, post = true }))
    {
        <div class="prompt">
            <p class="warning">Vill du verkligen ta bort den här delegeringen?</p>
            @Html.Submit("Ta bort", new { @class = "btn btn-del" })
            @Html.Cancel("Avbryt")
        </div>
    }
</div>