@model Appva.Mcss.Web.ViewModels.DelegationInactivateViewModel
@{
    ViewBag.Title = "Inactivate";
}
<div class="std-panel std-form">
@using (Html.BeginForm(new { Id = Model.Delegation.Id, post = true })) {
    <h3 class="section-title">Ta bort delegering</h3>
	<div class="select">
		<label>Ange orsakskod:</label>
		<select>
			<option selected="selected">Välj kod...</option>
			<option>A1</option>
			<option>B1</option>
			<option>C1</option>
		</select>
	</div>
	<div class="submit">
        @Html.Submit("Ta bort")
        @Html.Cancel("Avbryt")
	</div>
}
</div>