@model Appva.Mcss.Admin.Areas.Patient.Models.ListMedicationModel

@{
    SetTitle("Läkemedelslista");
}
@Html.Partial("~/Areas/Patient/Features/Patient/Partials/_PatientDetails.cshtml", Model.Patient)
@Html.Partial("~/Features/Shared/_SubMenuPartial.cshtml", Model.Patient)
<div id="subheader" class="cf">
    <h1>Läkemedelslista</h1>
}
    }
</div>
<div id="content">

</div>

