<div class="content">
    <div class="panel">
        <h2>Ett fel har inträffat</h2>
        <p>Ett fel inträffade när läkemedelslistan laddades in. Var vänlig gå tillbaka och försök igen. Om felet kvarstår kontakta support@appva.se</p>
    </div>
</div>