@{
    Title("Notifieringar");
}
<div id="subheader" class="cf">
    <h1>Notifieringar</h1>
    @Html.ActionLink("Aktivera inloggnings-notis", "Activate", "News", new { Area = "Notification" }, new { @class = "btn" })
</div>