@{
    Layout = "~/Features/Shared/_ErrorLayout.cshtml";
    Title("403 Forbidden");
    BodyCssClass("page-500");
}
<div class="error-code">403</div>
<div class="error-text">
    <span class="oops">Fel certifikat!</span><br>
    <span class="hr"></span>
    <br>
    Angivet certifikat g&auml;ller inte f&ouml;r denna url.
</div>