@{
    Layout = "~/Features/Shared/_ErrorLayout.cshtml";
    Title("500 Certificate and host are incompatible");
    BodyCssClass("page-500");
}
<div class="error-code">500</div>
<div class="error-text">
    <span class="oops">Fel certifikat!</span><br>
    <span class="hr"></span>
    <br>
    Angivet certifikat g&auml;ller inte f&ouml;r denna url
</div>