@model Appva.Mcss.Admin.Areas.Backoffice.Models.DelegationSettingsModel
@{
    SetTitle("Inställningar");
}

<div class="std-panel std-form lb-panel-small lb-validate-form">
    @using (Html.Post())
    {
        <div class="form-tab form-tab-1">
            <h3 class="section-title">Inställningar för delegering</h3>
            @Html.FormGroup(x => x.RequireActivationOnChange, "checkbox").Checkbox("Kräv ny aktivering efter ändring", new { }).Validate().Build()
            <h3 class="section-title">Ange orsak när delegering tas bort</h3>
            @Html.FormGroup(x => x.SpecifyReasonIsActive, "checkbox").Checkbox("Aktivera", new { }).Validate().Build()
            @Html.FormGroup(x => x.Reasons, "text large").Label("Ange en orsak per rad").TextArea().Validate().Build()


        </div>
        <div class="submit">
            @Html.Submit("Spara", new { @class = "btn" })
        </div>
    }
</div>