<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="mcss-scheduler" type="Appva.Mcss.Scheduler.Infrastructure.Configuration.ApplicationXmlConfiguration, Appva.Mcss.Scheduler.Infrastructure" />
  </configSections>
  <!-- Scheduler configuration -->
  <mcss-scheduler
    service-name                   = "McssScheduler"
    service-display-name           = "Mcss scheduler"
    service-description            = "Job scheduler for Appva Mcss."
    is-production                  = "false"
    e-mail-sender                  = "noreply@appva.se"
    e-mail-recipients              = "johansalllarsson@appva.se,richardsachade@appva.se"
    send-notification-on-start     = "true"
    send-notification-on-stop      = "true"
    send-notification-on-pause     = "true"
    send-notification-on-resume    = "true"
    send-notification-on-shutdown  = "true"
    send-notification-on-exception = "true"
    />
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Topshelf" publicKeyToken="b800c4cfcdeea87b" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.135.0" newVersion="3.1.135.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>