@model Appva.Mcss.Admin.Features.Home.EmailAuthentication
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <h1>Hej @Model.FullName!</h1>
        <p>Ditt lösenord är @Model.Password</p>
        <a href="">Logga in på MCSS</a>
    </div>
</body>
</html>
