@model Appva.Mcss.Admin.Areas.Backoffice.Models.ListGeneralSettingsModel
@{
    SetTitle("Admin - Generella inställningar");
}
@Html.Partial("_BackofficeMenuPartial")
<div id="subheader" class="cf">
    <h1>Generella inställningar</h1>
</div>
<div id="content" class="cf">
    <div id="content-primary">
        @if (Model.List != null && Model.List.Count() > 0)
        {
            <ul id="setlist">
                @foreach (var item in Model.List)
                {
                    string description = string.Empty;
                    if(!string.IsNullOrWhiteSpace(item.Description))
                    {
                        description = "<span>" + item.Description + "</span>";
                    }
                    <li>
                        <a href="/Backoffice/GeneralSettings/@item.Id/Edit">@item.Name@Html.Raw(description)</a>
                    </li>
                }
            </ul>
        }
        else
        {
            <div class="note">
                <h2>Inga inställningar hittades.</h2>
            </div>
        }
    </div>
</div>