<div id="nav-main">
    <ul class="cf">
        @Html.Action("Menu", "Menus", new
            {
                Key = "Admin.Patient.Menu",
                Action = Html.ViewContext.RouteData.GetRequiredString("action"),
                Controller = Html.ViewContext.RouteData.GetRequiredString("controller"),
                Area = string.Empty
            })
    </ul>
</div>