<div id="nav-main">
    <ul class="cf">
        @Html.Action("SubMenu", "Menus", new
            {
                Key = "https://schema.appva.se/ui/menu",
                Action = Html.ViewContext.RouteData.GetRequiredString("action"),
                Controller = Html.ViewContext.RouteData.GetRequiredString("controller"),
                Area = string.Empty
            })
    </ul>
</div>