<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>@Title</title>
        @Styles.Render("~/Assets/css/ui-lightness/bundle", "~/Assets/css/bundle")
        @Scripts.Render("~/Assets/js/bundle", "~/Assets/js/mcss/bundle")

    </head>
    <body id="printpage">
        @RenderBody()
        <script type="text/javascript">
            $(function () {
                window.print();
            });
        </script>
    </body>
</html>