@{
    Layout = "~/Features/Shared/Errors.cshtml";
    SetTitle("500 Internal Server Error");
    BodyCssClass("page-500");
}
<div class="error-code">500</div>
<div class="error-text">
    <span class="oops">OUCH!</span><br>
    <span class="hr"></span>
    <br />
    SOMETHING IS NOT QUITE RIGHT
    <br />
    <span class="solve">We hope to solve it shortly</span>
</div>