@using Appva.Mcss.Admin.Application.Extensions 
@model SignInForm
@{
    Layout = Request.IsAjaxRequest() ? null : "~/Features/Shared/_LoginLayout.cshtml";
    SetTitle("Logga in");
    SetBodyCssClass("page-sign-in");
}
<div class="hd org">
    @Html.Partial("_LoginHeaderLogo")
    <h1>Hur vill du logga in?</h1>
</div>
<div class="row cf">
    <div class="col bd">
        <h2 class="center">Med SITHS-kort</h2>
        <img class="siths-icon"src="@Url.Content("~/Assets/i/siths-icon.png")" alt="SITHS-kort" />
        <p class="siths-text">Vänligen sätt i ditt SITHS-kort i kortläsaren och klicka på knappen nedan för att logga in.</p>
        <div class="controls">
            @Html.ActionLink("Logga in med ditt SITHS-kort", "SignInSiths", "Authentication", null, new { @class = "btn green full" })
        </div>

    </div>
    <div class="col bd">

        <h2 class="center">Med användarnamn och lösenord</h2>
        @Html.Partial("_SignInFormPartial", Model)
    </div>
</div>