@using Appva.Mcss.Admin.Areas.Roles.Models;
@model UpdateRoleDelegation
@{ 
    SetTitle("Redigera delegeringar till roller"); 
}
<div class="std-panel std-form lb-panel-big lb-validate-form">
    @using (Html.Post())
    {
        <div class="form-tab form-tab-1">
            <h3 class="section-title">Redigera behörighet på signeringslista</h3>
            @Html.ValidationAlert("Ett fel inträffade", "Var vänlig korrigera markerade fält i formuläret och försök igen")
            @Html.FormGroup(x => x.Delegations, "text").Label("Delegeringar").CheckboxList().Validate().Build()
        </div>
        <div class="submit">
            @Html.Submit("Spara")
        </div>
    }
</div>