@model Appva.Mcss.Admin.Areas.Area51.Models.DeleteDelegationSettingsModel
@{
    SetTitle("Inställningar - Ta bort delegering");
}

<div class="std-panel std-form lb-panel-small lb-validate-form">
    @using (Html.Post())
    {
        <div class="form-tab form-tab-1">
            <h3 class="section-title">Ange orsak när delegering tas bort</h3>
            @Html.FormGroup(x => x.SpecifyReasonIsActive,"checkbox").Checkbox("Aktivera", new { }).Validate().Build()
            @Html.FormGroup(x => x.Reasons, "text large").Label("Ange en orsak per rad").TextArea().Validate().Build()
           
        </div>
        <div class="submit">
            @Html.Submit("Spara", new { @class = "btn" })
        </div>
    }
</div>