@using System.Data;
@model Appva.Mcss.Admin.Models.PractitionerImportModel
@{
    SetTitle("Importstatus");
}
<div id="subheader" class="cf">
    <h1>Importera medarbetare</h1>
</div>
<div id="content" class="log cf">
    <div id="fileimport">
        <h3>Filinformation</h3>
        <table class="device-table fileinfo">
            <tr>
                <td>Filnamn</td>
                <td><b>@(Model.FileName)</b></td>
            </tr>
            <tr>
                <td>Importerade rader</td>
                <td>@Model.ImportedRowsCount st</td>
            </tr>
            <tr>
                <td>Felaktiga rader</td>
                <td>@Model.InvalidRowsCount st (@Html.ActionLink("Ladda ner Excel-fil", "Save", "View", new { Id = Model.FileId }, null))</td>
            </tr>
        </table>
    </div>
</div>