@model  Appva.Mcss.Web.ViewModels.AccountListViewModel
@using (Html.BeginForm("List", "Account", FormMethod.Get, new { @id = "search" })) {
    <div>
        <label for="searchq">Sök medarbetare:</label> 
        <input type="text" id="searchq" name="q" data-autocomplete-url="@Url.Action("QuickSearch", "Account", new { isActive = Model.IsActive, isPaused = Model.IsPaused })" placeholder="Namn eller personnummer ..." />
        <input type="hidden" name="isActive" value="@Model.IsActive" />
        <input type="hidden" name="isPaused" value="@Model.IsPaused" />
    </div>
}
<script type="text/javascript">
$(function() {
    $("input[data-autocomplete-url]").each(function () {
        var self = $(this);
        self.autocomplete({
            'source': self.data('autocomplete-url'),
            'select': function (event, ui) {
                self.val(ui.item.value);
                self.parent().parent().submit();
            }
        });
    });
});
</script>