<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Appva.Caching" version="0.3.0" targetFramework="net45" />
  <package id="Appva.Common" version="0.3.0" targetFramework="net45" />
  <package id="Appva.Core" version="0.5.0" targetFramework="net45" />
  <package id="Appva.Core.Messaging" version="0.0.4" targetFramework="net45" />
  <package id="Appva.Cryptography" version="0.3.0" targetFramework="net45" />
  <package id="Appva.GrandId" version="0.1.4" targetFramework="net45" />
  <package id="Appva.Http" version="0.1.0" targetFramework="net45" />
  <package id="Appva.Ldap.Nuget" version="0.0.1.7" targetFramework="net45" />
  <package id="Appva.NHibernateUtils" version="0.4.0" targetFramework="net45" />
  <package id="Appva.Persistence" version="0.3.0" targetFramework="net45" />
  <package id="Appva.Repository" version="0.3.0" targetFramework="net45" />
  <package id="Appva.Tenant" version="0.4.0" targetFramework="net45" />
  <package id="BouncyCastle" version="1.7.0" targetFramework="net45" />
  <package id="Iesi.Collections" version="4.0.1.4000" targetFramework="net45" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net45" />
  <package id="Microsoft.Owin" version="3.0.1" targetFramework="net45" />
  <package id="Microsoft.Owin.Security" version="3.0.1" targetFramework="net45" />
  <package id="Microsoft.Owin.Security.Cookies" version="3.0.1" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net45" />
  <package id="NHibernate" version="4.0.4.4000" targetFramework="net45" />
  <package id="Owin" version="1.0" targetFramework="net45" />
  <package id="PDFsharp-MigraDoc-GDI" version="1.32.4334.0" targetFramework="net45" />
  <package id="System.IdentityModel.Tokens.Jwt" version="4.0.2.206221351" targetFramework="net45" />
  <package id="Thinktecture.IdentityModel.Core" version="1.4.0" targetFramework="net45" />
  <package id="Validation" version="2.2.8" targetFramework="net45" />
</packages>