@model Appva.Mcss.Web.ViewModels.CheckBoxViewModel

<div class="checkbox">
    @Html.CheckBoxFor(x => x.Checked)
    @Html.LabelFor(x => x.Checked, Localizer["kl_{0}", Model.Id].ToString())
    @Html.HiddenFor(x => x.Id)
</div>