<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ITenantService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:82/Service.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ITenantService" contract="Wcf.ITenantService"
                name="BasicHttpBinding_ITenantService" />
        </client>
    </system.serviceModel>
</configuration>