@using Microsoft.AspNet.Identity
<div id="logged-info">
    <p>
        Inloggad som <strong>@User.Identity.Name</strong>
        @Html.ActionLink("Byt lösenord", "ChangePassword", "Accounts", new { Area = "Practitioner" }, null)
        @Html.ActionLink("Logga ut", "SignOut", "Authentication", new { Area = string.Empty }, new { @class = "btn" })
    </p>
</div>
@{
    var milliseconds = Request.GetOwinContext().Request.Get<DateTimeOffset>("ExpiresUtc").LocalDateTime.ToUnixEpochMilliseconds();  
}
<script type="text/javascript">
    var date = new Date(@milliseconds);
    setInterval(function () 
    {
        var now = new Date();
        if (now > date)
        {
            window.location = "auth/sign-in";
        }
    }, 1000);
</script>