@using Microsoft.AspNet.Identity
<div id="logged-info">
    <p>
        Inloggad som <strong>@User.Identity.Name</strong>
        @if (! Principal.Claims.Any(x => x.Type == Appva.Core.Resources.ClaimTypes.SithsEnabled && x.Value == "Y"))
        {
            @Html.ActionLink("Byt lösenord", "ChangePassword", "Accounts", new { Area = "Practitioner" }, null)
        }
        @Html.ActionLink("Logga ut", "SignOut", "Authentication", new { Area = string.Empty }, new { @class = "btn" })
    </p>
</div>