@using Microsoft.AspNet.Identity
<div id="logged-info">
    <div id="nav-main">
        <ul class="cf">
            <li class="support-info">@Html.CreateSupportLink(Localizer["support_url"].ToString(), Localizer["Hjälp"].ToString(), new { @class = "icon icon-help" })</li>
            <li class="user-info">
                <a class="profile icon icon-profile">@User.Identity.Name</a>
                <div class="profile">
                    <p>
                        @{ var text = new HtmlString(Localizer["Inloggad_som_{0}", User.Identity.Name].ToString()); }
                        @text
                    </p>
                    <ul>
                        @if (! Principal.Claims.Any(x => x.Type == Appva.Core.Resources.ClaimTypes.SithsEnabled && x.Value == "Y"))
                        {
                        <li>
                            @Html.ActionLink(Localizer["Byt_lösenord"].ToString(), "ChangePassword", "Accounts", new { Area = "Practitioner" }, new { @class = "change-password" })
                        </li>
                        }
                        <li>
                            @Html.ActionLink(Localizer["Logga_ut"].ToString(), "SignOut", "Authentication", new { Area = string.Empty }, new { @class = "logout" })
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</div>

<script type="text/javascript">
    $('li.user-info').click(function (e) {
        $(this).toggleClass('sel');
        e.stopPropagation();
    });
    $(document).click(function (e) {
        $('li.user-info').removeClass('sel');
    });
</script>
