@model System.Web.Mvc.HandleErrorInfo
@{
    ViewBag.Title = "Ett fel inträffade";
}
<div class="std-paging cf">
    <h2>
        Ett fel har uppstått!
    </h2>
    <p>
        Var vänlig kontakta support om detta fel uppstår igen.
    </p>
</div>
