@model HandleErrorInfo
@{
    SetTitle("Ett fel inträffade");
}
<div class="std-paging cf">
    <h2>
        Ett fel har uppstått!
    </h2>
    <p>
        Var vänlig kontakta <a href="http://support.appva.se/open.php">support</a> om detta fel uppstår igen.
    </p>
</div>