@model HandleErrorInfo
@{
    SetTitle(Localizer["Ett_fel_inträffade"].ToString());
}
<div class="std-paging cf">
    <h2>
        @Localizer["Ett_fel_har_uppstått"]
    </h2>
    <p>
        @Localizer["Var_vänlig_kontakta_support_om_detta_fel_uppstår_igen"]
    </p>
</div>