@{
    Layout = "~/Features/Shared/_LoginLayout.cshtml";
    SetTitle("Kontrollera din e-post");
    SetBodyCssClass("page-forgot-password");
}

<div class="hd org">
    <img src="@Url.Content("~/Assets/i/loginpage-logo.png")" alt="Appva MCSS" />
    <!--span>@Tenant</span-->
    <h1>Återställningslänk skickad</h1>
</div>
<div class="row">
    <div class="col bd">
        <h2>
            Vi har skickat ett meddelande till din e-postadress. Klicka på länken i meddelandet för att återställa ditt lösenord.
        </h2>
        <h3>Hittar du inte meddelandet?</h3>
        <p>Kontrollera att det inte har hamnat bland din skräppost eller i någon annan mapp.</p>
        <div class="controls">
            
            @Html.ActionLink("Jag hittar fortfarande inte meddelandet", "Forgot", "Account", null, new { @class = "cancel" })
            @Html.ActionLink("Tillbaka till inloggning", "SignIn", "Authentication", null, new { @class = "cancel" })
        </div>
    </div>
</div>
