@{
    Layout = "~/Features/Shared/_LoginLayout.cshtml";
    SetTitle("Tillfälligt spärrat konto");
}
<div class="hd">
	Tillfälligt spärrat konto
</div>
<div class="hd org">
    <img src="@Url.Content("~/Assets/i/appva-logo-icon.png")" alt="Appva MCSS" />
	<span>@Tenant</span>
</div>
<div class="bd">
    <span class="alert-danger">
        Ditt konto har tillfälligt blivit spärrat efter upprepade misslyckade försök att logga in, var
        vänlig försök igen senare.
    </span>
    <div class="hr"></div>
    @Html.ActionLink("Tillbaka till inloggning", "SignIn", "Authentication", null, new { @class = "btn" })
    @Html.ActionLink("Glömt lösenord?", "Forgot", "Account", null, new { @class = "btn btn-right forgot" })
</div>