@model SignInForm
@{
    Layout = "~/Features/Shared/_LoginLayout.cshtml";
    SetTitle("Ditt lösenord är sparat");
    SetBodyCssClass("page-forgot-password");
}

<div class="hd org">
    @Html.Partial("_LoginHeaderLogo")
    <h1>Ditt lösenord är sparat</h1>
</div>

<div class="row">
    <div class="col">
        <div class="profile">
            <img src="@Url.Content("~/Assets/i/profile-icon.png")" />
        </div>
        <div class="bd">
            <h2>Var vänlig använd ditt valda lösenord för att logga in i MCSS.</h2>
            @Html.Partial("_SignInFormPartial", Model)
        </div>
    </div>
</div>
