@{
    Layout = "~/Features/Shared/_LoginLayout.cshtml";
    SetTitle("Ditt lösenord är sparat");
    SetBodyCssClass("page-forgot-password");
}
<div class="hd">
	Ditt lösenord är sparat.
</div>
<div class="hd org">
    <img src="@Url.Content("~/Assets/i/appva-logo-icon.png")" alt="Appva MCSS" />
	<span>@Tenant</span>
</div>
<div class="bd">
    Var vänlig använd ditt valda lösenord för att logga in i MCSS.
    <div class="hr"></div>
	@Html.ActionLink("Logga in", "SignIn", "Authentication", null, new { @class = "btn" })
</div>