@model SignInForm
@{
    Layout = "~/Features/Shared/_LoginLayout.cshtml";
    SetTitle("Ditt lösenord är nu bytt");
    SetBodyCssClass("page-forgot-password");
}
<div class="hd org">
    @Html.Partial("_LoginHeaderLogo")
    <h1>Ditt lösenord är nu bytt</h1>
</div>

<div class="row">
    <div class="col">
        <div class="profile">
            <img src="@Url.Content("~/Assets/i/profile-icon.png")" />
        </div>
        <div class="bd">
            <h2>Logga in på nytt för att använda MCSS.</h2>
            @Html.Partial("_SignInFormPartial", Model)
        </div>
    </div>
</div>
