@{
    Layout = "~/Features/Shared/_LoginLayout.cshtml";
    SetTitle("Utgången återställningslänk");
    SetBodyCssClass("page-reset-password");
}
<div class="hd">
    Utgången återställningslänk
</div>
<div class="hd profile">
    <img src="@Url.Content("~/Assets/i/profile-icon.png")" />
</div>
<div class="bd">
    <span class="alert-danger">
        Återställningslänken har gått ut, vänligen begär en ny.
    </span>
    <div class="hr"></div>
    @Html.ActionLink("Logga in", "SignIn", "Authentication", null, new { @class = "btn" })
    @Html.ActionLink("Skicka ny återställningslänk", "Forgot", "Authentication", null, new { @class = "btn btn-right forgot" })
</div>