@{
    Layout = "~/Features/Shared/_LoginLayout.cshtml";
    SetTitle("Utgången återställningslänk");
    SetBodyCssClass("page-reset-password");
}
<div class="hd org">
    @Html.Partial("_LoginHeaderLogo")
    <h1>Utgången återställningslänk</h1>
</div>

<div class="row">
    <div class="col">
        <div class="profile">
            <img src="@Url.Content("~/Assets/i/profile-icon.png")" />
        </div>
        <div class="bd">
            <div class="alert alert-danger error-msg">
                <span class="title">
                    Återställningslänken har gått ut, vänligen begär en ny.
                </span>
            </div>
            <div class="controls">
                @Html.ActionLink("Logga in", "SignIn", "Authentication", null, new { @class = "btn center" })
                @Html.ActionLink("Skicka ny återställningslänk", "Forgot", "Account", null, new { @class = "cancel" })
            </div>
        </div>       
    </div>
</div>
