@{
    Layout = "~/Features/Shared/_LoginLayout.cshtml";
    SetTitle("Utgången återställningslänk - {0}", Tenant);
    SetBodyCssClass("page-reset-password");
}
<div class="hd">
    Utgången återställningslänk
</div>
<div class="hd profile">
    <img src="@Url.Content("~/Assets/i/profile-icon.png")" />
</div>
<div class="bd">
    <span class="alert-danger">
        Återställningslänken har gått ut. Vänligen begär en ny.
    </span>
    <div class="hr"></div>
    @Html.ActionLink("Logga in", "SignIn", null, new { @class = "btn" })
    @Html.ActionLink("Skicka ny återställningslänk", "Forgot", null, new { @class = "btn btn-right forgot" })
</div>