<div class="people-nav">
    <ul class="nav cf">
        <li>@Html.ActionLink("Inställningar", "List", "Setting")</li>
        <li>@Html.ActionLink("Roller och behörigheter", "Index", "Acl")</li>
        <li>@Html.ActionLink("Cache", "List", "Cache")</li>
        <li>@Html.ActionLink("Cookie", "AboutMe", "Area51")</li>
    </ul>
</div>
