@model  Appva.Mcss.Web.ViewModels.ListPatientModel
@using (Html.BeginForm("List", "Patient", FormMethod.Get, new { @id = "search" })) {
    <div>
        <label for="searchq">Sök boende:</label> 
        <input type="text" id="searchq" name="SearchQuery" data-autocomplete-url="@Url.Action("QuickSearch", "Patient", new { isActive = Model.IsActive, isDeceased = Model.IsDeceased })" placeholder="Namn eller personnummer ..." />
        <input type="hidden" name="IsActive" value="@Model.IsActive.ToString()" />
        <input type="hidden" name="IsDeceased" value="@Model.IsDeceased.ToString()" />
    </div>
}
<script type="text/javascript">
    $(function () {
        $("input[data-autocomplete-url]").each(function () {
            var self = $(this);
            self.autocomplete({
                'source': self.data('autocomplete-url'),
                'select': function (event, ui) {
                    self.val(ui.item.value);
                    self.parent().parent().submit();
                }
            });
        });
    });
</script>